* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: none;
    /* Remove background image */
    background-color: white;
    /* Blank background */
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: center;
    /* background-image: url('bg_new.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; */
}

.logo-container {
    width: 100%;
    /* Make it responsive */
    height: auto;
    /* Set your background image */
    background-size: cover;
    /* Adjust the size to cover the container */
    background-position: center;
    /* Center the background image */
    padding: 20px;
    /* Add some padding to position the logo nicely */
    border-radius: 15px;
    /* Add rounded corners if desired */
}

.logo {
    width: 100%;
    /* Adjusts based on container size */
}

.topic{
    font-size: 25px;
    color: black;
}
.topic_arabic {
    font-family: 'Cairo', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: black;
    width: auto;
    display: inline-block; /* Ensures transform works */
    transform: scaleX(1.0);
}

.sector-topic {
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.application-form label {
    color: black;
    font-size: 16px;
    font-weight:bolder;
    display: block;
    text-align: left;
    padding: 5px 10px;
    border-radius: 20px;
}

.custom-input {
    margin-bottom: 15px;
    border: 1px solid black;
    /* Black border */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

.btn-custom {
    color: white;
    padding: 10px 30px;
    font-size: 1rem;
}

.btn-group {
    display: flex;
    justify-content: center;
}

.submit-message {
    position: fixed;
    /* Fixed to the center of the screen */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(45, 107, 148, 0.8); /* Semi-transparent black background */
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    display: none;
    text-align: center;
    z-index: 1000;
    /* Ensure it stays on top */
    width: 80%;
    /* Adjusts width for smaller screens */
    max-width: 400px;
    /* Maximum width for larger screens */
}

@media (max-width: 768px) {
    .submit-message {
        font-size: 1.2rem;
        /* Slightly smaller text for mobile screens */
        padding: 15px;
        /* Adjust padding for smaller screens */
    }
}